@use "../../scss/variables";

.bottom-sheet {
  font-family: variables.$font-family;
  background: white;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 30%);
  border-radius: 8px;
  max-width: 480px;
  margin: auto;
  position: fixed;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  height: 85vh;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bottom-sheet-header {
  padding: 0 1rem;
  flex: 0;
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  grid-template-areas: 
  "header header header"
  "start title end";

  .bottom-sheet-header--dismiss {
    grid-area: end;
  }

  .bottom-sheet-header--content {
    text-align: center;
    grid-area: title;

    .bottom-sheet-header--content-title,
    .bottom-sheet-header--content-description {
      margin: 0;
    }

    .bottom-sheet-header--content-title {
      color: #191919;
      font-size: 18px;
      line-height: 1.5;
    }
    .bottom-sheet-header--content-description {
      color: #666;
      font-size: 14px;
      line-height: 1;
      font-weight: 600;
    }
  }

  &::before {
    grid-area: header;
    content: '';
    display: block;
    width: 4rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    margin: 0.5rem auto;
    background: #ddd;
  }
}

.bottom-sheet-content {
  flex: 1;
  overflow: scroll;
  min-height: 0;
  margin-bottom: 3rem;
}