$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$color-primary: #eb1700;
$color-primary-light: lighten($color-primary, 33%);

$color-secondary: #eee;
$color-secondary-dark: darken($color-secondary, 33%);